#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
}

.in-sviluppo{
  color: white;
  padding: 0.5em;
}

@media (prefers-color-scheme: light) {
  .in-sviluppo{
    background-color: rgb(9, 33, 115);
  }
}