.footer{
    background-color: white;
    flex-shrink: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.447);
  }

  .footer p{
    padding: 0;
    margin: 0;
  }

  .logoFooter {
    width: 2.5em;
    padding: 0.5em;
    margin: 0;
  }
  
  @media (prefers-color-scheme: dark) {
    .footer{
      background-color: #1a1a1a;
    }

    .footer p{
      color: white;
    }

    .logoFooter{
      filter: invert(100%);
    }
  }