.header{
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}

  .logoHeader {
    width: 4.5em;
    border-radius: 100%;
    padding: 0.5em;
  }
  
  .logoHeader:hover {
    cursor: help;
  }

  .logo-magia{
    width: 4.5em;
    border-radius: 100%;
    padding: 0.5em;
    animation: logo-spin infinite 2s linear;
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }