.card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.501);
}

.cardLogo{
    width: 3em;
    padding: 0.5em;
}

@media (max-width: 767px) {
    .card{
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        padding: 5px;
        margin: 5px;
        width: 200px;
        min-width: 200px;
        box-sizing: border-box;
    }
  }
  
  /* Tablet */
  @media (min-width: 768px) and (max-width: 1023px) {
    .card{
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        padding: 2vw;
        margin: 2vw;
        width: 300px;
        min-width: 200px;
        box-sizing: border-box;
    }
  }
  
  /* Desktop */
  @media (min-width: 1024px) {
    .card{
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        padding: 2vw;
        margin: 2vw;
        width: 300px;
        min-width: 200px;
        box-sizing: border-box;
    }
  }