.projects{
    margin: 5vw 10vw 5vw 10vw;
}

  /* Tablet */
  @media (min-width: 768px) and (max-width: 1023px) {
    .cardContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
  }
  
  /* Desktop */
  @media (min-width: 1024px) {
    .cardContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
  }